<a href="https://colab.research.google.com/github/nehadubey1205/NLP-college/blob/main/OriginalPaperWork_NehaDubey_016_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
import joblib
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
data = pd.read_csv(r'/content/Bully_Sent_Emo_IEEEIC_6084.csv')

In [5]:
data.head()

,Tweets,Processed_Tweets,Bully_Label,Sentiment_label,Emotion_label
0,Teri maa ki chut me Shivsena ka lund gaya kya,Teri maa ki chut me Shivsena ka lund gaya kya,1,Negative,Anger
1,Han muje pata hai teri maa ka ke gufa me jati thi,Han muje pata hai teri maa ka ke gufa me jati thi,1,Negative,Others
2,Tum kaha se aa gye bhai tumlog toh saree pehen...,Tum kaha se aa gye bhai tumlog toh saree pehen...,0,Neutral,Others
3,Koi motiüôäkisi ki bestiüòÅ baisn ka or channey ki...,Koi motikisi ki besti baisn ka or channey ki d...,1,Negative,Disgust
4,Rahul kanwal aaj nanga hoke road per nachega üòÇ,Rahul kanwal aaj nanga hoke road per nachega,1,Negative,Disgust

In [16]:
data.drop(['Tweets','Emotion_label'], axis=1, inplace=True)

In [17]:
for col in data.columns:
    if 'Sentiment_label' in col:
        del data[col]

In [18]:
data.head()

                                    Processed_Tweets  Bully_Label
0      Teri maa ki chut me Shivsena ka lund gaya kya            1
1  Han muje pata hai teri maa ka ke gufa me jati thi            1
2  Tum kaha se aa gye bhai tumlog toh saree pehen...            0
3  Koi motikisi ki besti baisn ka or channey ki d...            1
4       Rahul kanwal aaj nanga hoke road per nachega            1

In [19]:
import joblib
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
def preprocess_data(data):
    
    # Convert text to lowercase
    data['Processed_Tweets'] = data['Processed_Tweets'].str.strip().str.lower()
    return data

In [25]:
x = data['Processed_Tweets']
y = data['Bully_Label']
x, x_test, y, y_test = train_test_split(x,y, stratify=y, test_size=0.25, random_state=42)

In [30]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
vec = set(stopwords.words('hinglish'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [32]:
#Vectorize text reviews to numbers
#vec = CountVectorizer(stop_words='hinglish')
x = vec.fit_transform(x).toarray()
x_test = vec.transform(x_test).toarray()

AttributeError: ignored